<!DOCTYPE html>
<html>
<head><title>Career History - TransferDB</title></head>
<body>
<%- include('../partials/nav') %>
<%- include('../partials/flash') %>
<h1>Career History</h1>

<h2>Contract History</h2>
<table border="1">
  <tr><th>Club</th><th>Type</th><th>Weekly Wage</th><th>Start</th><th>End</th></tr>
  <% contracts.forEach(c => { %>
  <tr>
    <td><%= c.club_name %></td>
    <td><%= c.contract_type %></td>
    <td>€<%= Number(c.weekly_wage).toLocaleString() %></td>
    <td><%= c.start_date ? String(c.start_date).split('T')[0] : '' %></td>
    <td><%= c.end_date   ? String(c.end_date).split('T')[0]   : '' %></td>
  </tr>
  <% }) %>
</table>

<h2>Transfer History</h2>
<table border="1">
  <tr><th>Date</th><th>Type</th><th>Fee</th><th>From</th><th>To</th></tr>
  <% transfers.forEach(t => { %>
  <tr>
    <td><%= t.transfer_date ? String(t.transfer_date).split('T')[0] : '' %></td>
    <td><%= t.transfer_type %></td>
    <td>€<%= Number(t.transfer_fee).toLocaleString() %></td>
    <td><%= t.from_club || 'Free Agent' %></td>
    <td><%= t.to_club %></td>
  </tr>
  <% }) %>
</table>
</body>
</html>
